
@import "tailwindcss";
@theme{
    --primary: #7c9885;
    --primary-foreground: #ffffff;
    --muted: #f3f1ed;
    --muted-foreground: #8b95a5;
    --primary-action: #32b675;
    --primary-remove: #F44336;
    --primary-remove-bg: #ea3434;
    --primary-remove-bg-50: #ea343477;
    --primary-edit-bg: #b2b632;
    --primary-edit-bg-disabled: #b2b632;

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.animate-dash {
    animation: dash 1.5s ease-in-out infinite;
}

.backdrop {
    background-color: #2525258e;
    backdrop-filter: blur(5px);
}

.text-shadow {
    text-shadow: 0 0 10px #000000
}

input, textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 0 0 3px #00000088;
    outline: none;
    border: none;
    transition: box-shadow .3s;
}

textarea {
    resize: none;
}

.card-shadow {
    box-shadow: 0 0 3px #00000088
}

button.btn {
    padding: 4px 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: var(--primary-action);
    color: white;
    box-shadow: 0 0 4px #00000033;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    border: none;
    transition: .5s;
}

button.btn:disabled {
    background-color: #25252525;
    color: #252525;
    cursor: not-allowed;
}

button.btn:hover {
    box-shadow: 0 0 9px #000000aa;

}

button.btn.delete {
    background-color: var(--primary-remove-bg);
    color: #ffffff;
}

button.btn.delete:disabled {
    background-color: var(--primary-remove-bg-50);
    cursor: not-allowed;
}


button.btn.edit {
    background-color: var(--primary-edit-bg);
    color: #ffffff;

    button.btn.edit:disabled {
        background-color: var(--primary-edit-bg-disabled);

        cursor: not-allowed;
    }


}
button.btn i{
    color:inherit;
}

.shadow-dashboard {
    box-shadow: 0 0 5px #00000077;
}
button.btn.icon{
    width: 50px;
    padding: 4px 0;
}


.hover-shadow {
    box-shadow: 0 0 5px #00000077;
    transition: box-shadow .5s;
}

.hover-shadow:hover {
    box-shadow: 0 0 10px #000000aa;
}
.hover-shadow-light {
    box-shadow: 0 0 3px #00000088;;
    transition: box-shadow .5s;

}

.hover-shadow-light:hover {
    box-shadow:  0 0 6px #00000033;;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-muted {
    background-color: var(--muted);
}

.divider {
    outline: none;
    padding: 0;
    box-shadow: 0 0 2px 0.5px #00000061;
    border: none;
    margin: 0;
    width: 80%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
}
.row.items-start {
    align-items: flex-start;
}

.row-el-5\% {
    width: 5%;
    min-width: 50px;
}
.row-el-10\% {
    width: 10%;
    min-width: 100px;
}
.row-el-15\% {
    width: 15%;
    min-width: 150px;
}
.row-el-20\% {
    width: 20%;
}
.row-el-25\% {
    width: 25%;
}
.row-el-30\% {
    width: 30%;
}
.row-el-35\% {
    width: 35%;
}
.row-el-40\% {
    width: 40%;
}
.row-el-45\% {
    width: 45%;
}
.row-el-50\% {
    width: 50%;
}
.row-el-55\% {
    width: 55%;
}
.row-el-60\% {
    width: 60%;
}
.row-el-65\% {
    width: 65%;
}
.row-el-70\% {
    width: 70%;
}
.row-el-75\% {
    width: 75%;
}
.row-el-80\% {
    width: 80%;
}
.row-el-85\% {
    width: 85%;
}
.row-el-90\% {
    width: 90%;

}
.row-el-95\% {
    width: 95%;

}
.row-el-100\% {
    width: 100%;

}

.bg-card{
    background-color: var(--primary-foreground);
}
.text-muted-foreground {
    color: var(--muted-foreground);
}
.mb-3{
    margin-bottom: calc(var(--spacing) * 3);
}
.pt-4{
    padding-top: calc(var(--spacing) * 4);
}
:where(.space-y-6 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 6) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse)));
}
