/*@import "tailwindcss/preflight";*/
/*@import "tailwindcss/a";*/
@import "tailwindcss";

@theme{

}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.animate-dash {
    animation: dash 1.5s ease-in-out infinite;
}

.backdrop {
    background-color: #2525258e;
    backdrop-filter: blur(5px);
}

.text-shadow {
    text-shadow: 0 0 10px #000000
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    box-shadow: 0 0 3px #00000088;
    outline: none;
    border: none;
    transition: box-shadow .3s;
}

.card-shadow {
    box-shadow: 0 0 3px #00000088
}

.btn {
    padding: 4px 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: #32b675;
    color: white;
    box-shadow: 0 0 4px #00000033;
    cursor: pointer;
    border-radius: 16px;
    outline: none;
    border: none;
    transition: .5s;
}

button.btn:disabled {
    background-color: #25252525;
    color: #252525;
    cursor: not-allowed;
}

button.btn:hover {
    box-shadow: 0 0 9px #000000aa;

}

button.btn.delete {
    background-color: #ea3434;
    color: #ffffff;
}

button.btn.delete:disabled {
    background-color: #ea343488;

    cursor: not-allowed;
}


button.btn.edit {
    background-color: #b2b632;
    color: #ffffff;

    button.btn.edit:disabled {
        background-color: #eae407;

        cursor: not-allowed;
    }


}

.shadow-dashboard{
    box-shadow: 0 0 5px #00000077;
}


.hover-shadow{
    box-shadow: 0 0 5px #00000077;
}
.hover-shadow:hover{
    box-shadow: 0 0 10px #000000aa;
}

